*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(black,black);
}

.container{
    margin-left: 10%;
}

.sample1 .card{
 min-height: 330px;
 margin-right: 20px;
 margin-top: 100px;
 font-size: 50px;
}

.card img{
    width: 100%;
    min-height: 330px;
    border-radius: 30px;
    box-shadow: 7px 7px 7px white;
}

/* 
.one{
background-color: aquamarine;
}

.two{
background-color: bisque;
}

.three{
background-color: yellowgreen;
}

.four{
background-color: violet;
}

.five{
background-color: tomato;
}

.six{
background-color: yellow;
} */


/* slick css ----------  */

.slick-next:before, .slick-prev:before {
    color: white !important;
}
.slick-next, .slick-prev {
    top: 16% !important;
    z-index: 300 !important;
}
.slick-prev {
    left: unset !important;
    right: 75px !important;
}

.slick-next {
    right: 40px !important;
}

.slick-next:before, .slick-prev:before {
    font-size: 37px !important;
}